<main class="snap-mandatory snap-y overflow-y-scroll h-screen">
  <div class="snap-center grid h-screen px-4">
    <div class="bg-hero bg-contain bg-no-repeat bg-top w-4/6 mx-auto"></div>
    <div class="flex flex-col">
      <p class="text-base uppercase text-center">hi i am</p>
      <h1 class="text-center">julio cid</h1>
      <p class="mt-2 uppercase text-center">
        software developer & web architect
      </p>
      <ul class="mt-4 list-inside">
        <li>
          <strong class="ml-1">Front-End Proficiency</strong>
          <p class="hidden">: Expert in Angular and Tailwind CSS</p>
        </li>
        <li>
          <strong class="ml-1">Back-End Experience</strong>
          <p class="hidden">
            : Skilled in Node.js, RESTful APIs, and databases
          </p>
        </li>
        <li>
          <strong class="ml-1">Efficient, Scalable Code</strong>
          <p class="hidden">: Focus on performance and best practices</p>
        </li>
        <li>
          <strong class="ml-1">Problem-Solver</strong>
          <p class="hidden">: Committed to innovative, efficient solutions</p>
        </li>
      </ul>
      <div class="flex mt-auto gap-x-2 justify-center py-4">
        <a href="https://github.com/Julius-cell" target="_blank">
          <img class="w-5 h-5" src="assets/images/github.png" alt="github" />
        </a>
        <a
          href="https://www.linkedin.com/in/julio-cid-beroiza/"
          target="_blank"
        >
          <img
            class="w-5 h-5"
            src="assets/images/linkedin.png"
            alt="linkedin"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="snap-center h-screen px-4 py-6">
    <h1>Who am I?</h1>
    <p class="mt-4 text-justify">
      Front-End Engineer with 5 years of experience in supporting, maintaining,
      and deploying applications across extensive infrastructure, with a
      specialization in Angular. Experienced in developing libraries and
      components for large-scale projects, collaborating within large teams, and
      working directly with clients. Served as a technical lead on payment
      gateway projects in the retail sector. Additionally skilled in continuous
      deployment (CI/CD) of applications and developing web solutions using
      TypeScript, JavaScript, and Node.js.
    </p>
    <div class="mt-4 grid grid-cols-2 gap-y-4">
      <div>
        <h2>Languages</h2>
        <ul class="mt-4">
          <li class="flex items-center">
            <img class="w-6 h-6" src="assets/images/js.png" alt="javascript" />
            <p class="ml-2 font-bold">JavaScript</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/python.png" alt="python" />
            <p class="ml-2 font-bold">Python</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/c++.png" alt="c++" />
            <p class="ml-2 font-bold">C++</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/html.png" alt="html" />
            <p class="ml-2 font-bold">HTML</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/css.png" alt="css" />
            <p class="ml-2 font-bold">CSS</p>
          </li>
        </ul>
      </div>
      <div>
        <h2>Frameworks</h2>
        <ul class="mt-4">
          <li class="flex mt-2 items-center">
            <img
              class="w-6 h-6"
              src="assets/images/angular.png"
              alt="angular"
            />
            <p class="ml-2 font-bold">Angular</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/react.png" alt="react" />
            <p class="ml-2 font-bold">React</p>
          </li>
          <li class="flex mt-2 items-center">
            <img
              class="w-6 h-6"
              src="assets/images/tailwind.png"
              alt="tailwind"
            />
            <p class="ml-2 font-bold">Tailwind</p>
          </li>
          <li class="flex mt-2 items-center">
            <img
              class="w-6 h-6"
              src="assets/images/springboot.png"
              alt="springboot"
            />
            <p class="ml-2 font-bold">SpringBoot</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/nestjs.png" alt="nestjs" />
            <p class="ml-2 font-bold">NestJS</p>
          </li>
        </ul>
      </div>
      <div>
        <h2>Tools</h2>
        <ul class="mt-4">
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/git.png" alt="git" />
            <p class="ml-2 font-bold">Git</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/npm.png" alt="npm" />
            <p class="ml-2 font-bold">NPM</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/linux.png" alt="linux" />
            <p class="ml-2 font-bold">Linux</p>
          </li>
          <li class="flex mt-2 items-center">
            <img
              class="w-6 h-6"
              src="assets/images/webpack.png"
              alt="webpack"
            />
            <p class="ml-2 font-bold">Webpack</p>
          </li>
          <li class="flex mt-2 items-center">
            <img class="w-6 h-6" src="assets/images/api.png" alt="api" />
            <p class="ml-2 font-bold">Restful API</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- CV -->
  <div class="snap-center h-screen px-4 py-6">
    <iframe
      [src]="pdfUrl"
      style="width: 100%; height: 100vh"
      frameborder="0"
    >
    </iframe>
  </div>

  <!-- Projects -->
  <!-- <div class="h-screen px-4 py-6">
  <h1>showcase</h1>
</div> -->

  <!-- Experience -->
  <div class="snap-center h-screen px-4 py-6">
    <h1>experience</h1>
    <!-- Item 1 -->
    <div class="mt-4 flex gap-x-4">
      <div class="w-10 relative">
        <div class="mx-auto w-6 h-6 rounded-full bg-blue-600"></div>
        <div
          class="absolute h-fill left-1/2 mt-2 border-r-2 border-blue-600"
        ></div>
      </div>
      <div>
        <p class="font-semibold text-base">
          FullStack Developer <span class="text-xs">(Sept 2023 - now)</span>
        </p>
        <p class="italic">Femsa</p>
        <ul>
          <li class="pl-1">
            Corrected critical errors on the e-commerce platform, improving
            usability and conversion rates.
          </li>
          <li class="pl-1">
            Developed and resolved service issues using NestJS, Typescript, and
            Jest for testing.
          </li>
          <li class="pl-1">
            Sought and implemented improvements to maintain clean and efficient
            code.
          </li>
        </ul>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="mt-4 flex gap-x-4">
      <div class="w-10 relative">
        <div class="mx-auto w-6 h-6 rounded-full bg-blue-600"></div>
        <div
          class="absolute h-fill left-1/2 mt-2 border-r-2 border-blue-600"
        ></div>
      </div>
      <div>
        <p class="font-semibold text-base">
          Software Engineer
          <span class="text-xs">(July 2021 - Sept 2023)</span>
        </p>
        <p class="italic">Apply Digital</p>
        <ul>
          <li class="pl-1">
            Developed component libraries using technologies such as Angular,
            Tailwind, Storybook, TypeScript, among others.
          </li>
          <li class="pl-1">
            Led the front-end team in developing a new checkout process.
          </li>
          <li class="pl-1">
            Successfully deployed an e-commerce platform in three countries in
            less than 6 months.
          </li>
        </ul>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="mt-4 flex gap-x-4">
      <div class="w-10 relative">
        <div class="mx-auto w-6 h-6 rounded-full bg-blue-600"></div>
        <div
          class="absolute h-fill left-1/2 mt-2 border-r-2 border-blue-600"
        ></div>
      </div>
      <div>
        <p class="font-semibold text-base">
          Frontend Developer
          <span class="text-xs">(January 2021 - July 2021)</span>
        </p>
        <p class="italic">Everis NTT Data</p>
        <ul>
          <li class="pl-1">
            Designed and developed interactive models and features using HTML,
            CSS, JavaScript, and the Angular framework.
          </li>
          <li class="pl-1">
            Managed and integrated API data in JSON format, precisely adapting
            them to the functional needs of the presentation layer, ensuring a
            smooth and efficient user experience.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Contact me -->
  <div class="snap-center h-screen px-4 py-6">
    <h1>contact me</h1>
    <p class="mt-4 text-justify">
      New Project? want to say Hi? or even a coffe. Drop me a message!
    </p>
    <form [formGroup]="contactForm" class="mt-4">
      <div class="relative w-full">
        <input
          type="text"
          id="first-name"
          placeholder=" "
          formControlName="name"
          class="peer w-full border border-gray-300 rounded-sm px-3 pt-2 pb-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
        <label
          for="first-name"
          class="absolute px-1 -top-2 bg-white left-3 text-gray-500 transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-gray-400 peer-focus:-top-2 peer-focus:text-blue-500"
        >
          Name
        </label>
      </div>

      <div class="relative w-full mt-4">
        <input
          type="text"
          id="email"
          placeholder=" "
          formControlName="email"
          class="peer w-full border border-gray-300 rounded-sm px-3 pt-2 pb-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        />
        <label
          for="email"
          class="absolute px-1 -top-2 bg-white left-3 text-gray-500 transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-gray-400 peer-focus:-top-2 peer-focus:text-blue-500"
        >
          Email
        </label>
      </div>

      <div class="relative w-full mt-4">
        <textarea
          type="text"
          id="subject"
          placeholder=" "
          formControlName="subject"
          rows="5"
          class="peer w-full border border-gray-300 rounded-sm px-3 pt-2 pb-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        >
        </textarea>
        <label
          for="subject"
          class="absolute px-1 -top-2 bg-white left-3 text-gray-500 transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-gray-400 peer-focus:-top-2 peer-focus:text-blue-500"
        >
          Add you comment here
        </label>
      </div>

      <button class="btn-primary" type="button" (click)="sendMessage()">
        Send Message
      </button>
    </form>

    <div class="mt-4">
      <div class="flex gap-x-2 items-center">
        <img class="w-5 h-5" src="assets/images/phone.png" alt="git" />
        <p class="ml-2 font-bold">+33 07 66 95 23 80</p>
      </div>
      <div class="flex gap-x-2 mt-2 items-center">
        <img class="w-5 h-5" src="assets/images/mail.png" alt="git" />
        <p class="ml-2 font-bold">julio.cid.b&#64;gmail.com</p>
      </div>
      <div class="flex gap-x-2 mt-2 items-center">
        <img class="w-5 h-5" src="assets/images/location.png" alt="git" />
        <p class="ml-2 font-bold">Lyon, France 69001</p>
      </div>
    </div>
  </div>
</main>
